<div class="container">
  <header class="contrast-bar">
    <h3 class="section-title">
      <a ng-click="postsCtrl.setFilter()">all</a>
      //
      <a ng-click="postsCtrl.setFilter('art')">art</a>
      //
      <a ng-click="postsCtrl.setFilter('essay')">
        essays</a>
      //
      <a ng-click="postsCtrl.setFilter('poetry')">poetry</a>
      // search:
      <input type="text" style="width: 200px" ng-model="postsCtrl.filters.tags"/></h3>
  </header>
  <div class="row">
    <div deckgrid class="deckgrid" source="postsCtrl.posts" filter="postsCtrl.filters" cardTemplate="scripts/components/posts/posts.deckgrid.tpl.html"></div>
  </div>
</div>
