<div class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <h3>EDITORS</h3>
        <ul>
          <li>
            <a ui-sref="profile({ profile: 'Carter Halbrooks' })">Carter Halbrooks</a>
          </li>
          <li>
            <a ui-sref="profile({ profile: 'Danielle Norris' })">Danielle Norris</a>
          </li>
          <li>
            <a ui-sref="profile({ profile: 'Ian Delairre' })">Ian Delairre</a>
          </li>
          <li>
            <a ui-sref="profile({ profile: 'Phoebe Meskill' })">Phoebe Meskill</a>
          </li>
          <li>
            <a ui-sref="profile({ profile: 'Ian McCament' })">Ian McCament</a>
          </li>
          <li>
            <a ui-sref="profile({ profile: 'Shelby Jackson' })">Shelby Jackson</a>
          </li>
          <li>
            <a ui-sref="profile({ profile: 'Turner Roth' })">Turner Roth</a>
          </li>
          <li>
            <a ui-sref="profile({ profile: 'Jacky Connolly' })">Jacky Connolly</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <h3>CONTRIBUTORS</h3>
        <ul>
          <li ng-repeat="user in footerCtrl.contributors">
            <a ui-sref="profile({ profile: user })">{{ user }}</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
        <h3>JOURNAL</h3>
        <ul>
          <li>
            <a ui-sref="about">About</a>
          </li>
          <li>
            <a (click)="footerCtrl.toDevBlog()">Development</a>
          </li>
          <li>
            <a ui-sref="editors">Editors</a>
          </li>
          <li>
            <a ui-sref="issues">Issues</a>
          </li>
          <li>
            <a ui-sref="submissions">Submissions</a>
          </li>
        </ul>
      </div>
      <!-- <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 pull-right social-buttons">
        <h3>SOCIAL LINKS</h3>
        <ul class="social">
          <li>
            <a href="https://www.facebook.com/lematjournal"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/lematjournal"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://github.com/lematjournal"><i class="fa fa-github"></i></a>
          </li>
        </ul>
      </div> -->
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</div>
<!--/.footer-->
