<div class="container">
   <div class="row">
      <div class="form-group">
         <label for="name">Email</label>
         <input type="text" ng-model="usersCtrl.user.email" id="email" class="form-control" placeholder="email">
      </div>
      <div class="form-group">
         <label for="author">Username</label>
         <input type="name" ng-model="usersCtrl.user.username" id="username" class="form-control" placeholder="username" required>
      </div>
      <div class="form-group">
         <label for="role">Role</label>
         <select ng-model="usersCtrl.user.role" class="form-control">
            <option value="admin">admin</option>
            <option value="editor">editor</option>
            <option value="author">author</option>
            <option value="contributor">contributor</option>
         </select>
      </div>
   </div>
   <div class="row">
      <div class="form-group">
         <label for="password">Password</label>
         <input type="password" ng-model="usersCtrl.user.password" id="password" class="form-control" placeholder="password" required>
      </div>
      <div class="form-group">
         <label for="password">Confirm Password</label>
         <input type="password" ng-model="usersCtrl.user.passwordConfirm" id="passord" class="form-control" placeholder="password" match="usersCtrl.user.password" required>
      </div>
   </div>
   <div class="row">
      <a class="btn btn-default btn-block" ng-click="usersCtrl.upsertUser(usersCtrl.user)">Submit</a>
   </div>
</div>