<div class="modal-body">
  <!-- navigation -->
  <div class="row-centered">
    <dir-pagination-controls template-url="scripts/components/images/images.modal/images.modal.pagination.tpl.html"></dir-pagination-controls>
    <hr>
  </div>

  <div class="lightbox-image-container row-centered">
    {{ $parent }}
    <!-- image -->
    <div class="profile-image" dir-paginate="image in imagesModalCtrl.images | itemsPerPage: 1" current-page="currentPage" style="margin-top: 5px">
      <a ng-click="imagesModalCtrl.setImage(image.image_url)">
        <img class="img-responsive" ng-src="{{ image.image_url }}" height="600px" width="100%">
      </a>
      <!-- caption -->
    </div>
  </div>

  <div class="row-centered" style="margin-top: 5px; margin-bottom: 50px">
    <div class="form-group">
      <button class="btn btn-default pull-left" style="width: 66%" ngf-select="imagesModalCtrl.uploadImage($file, 'uploads/')" ng-model="imagesModalCtrl.profileImage" name="file" ngf-pattern="'image/*'"
        ngf-accept="'image/*'">Select Image to upload</button>
      <div class="btn-group pull-right" style="margin-bottom: 5px">
        <a class="btn btn-default" ng-click="imagesModalCtrl.cancel()">Close</a> <a class="btn btn-default" ng-click="imagesModalCtrl.ok()" style="margin-left: 5px">Save</a>
      </div>
      <!--         <button type="button" ng-click="openImageManager()" class="btn btn-default btn-block">Manage User Images</button>-->
    </div>
  </div>
</div>

<!-- <button type="button" upload-file class="btn btn-default pull-left" style="width: 66%">Select Image to upload</button> -->


  <!-- <input id="upload" type="file" name="file" class="upload pull-left" style="display: none" file-select folder="'uploads/'" ng-model="profileImageUploadModalCtrl.profileImage" accept="image/*" upload-action="profileImageUploadModalCtrl.uploadImage" /> -->
