<div class="content">
   <div class="container">
      <div class="row-centered">
         <h3>{{ submissionsCtrl.submission.title }} from {{ submissionsCtrl.submission.email_address }}</h3>
      </div>
      <div class="row-centered">
         <p ng-bind-html="submissionsCtrl.doc"></p>
      </div>
      <div class="row-centered" ng-repeat="attachment in submissionsCtrl.submission.attachments | filterImages">
         <h3 class="title text-center">Attachments</h3>
         <div class="profile-image">
            <img ng-src="{{ attachment.image_url }}" width="100%" height="100%" />
            <p class="text-center">{{ attachment.credits }}</p>
         </div>
      </div>
      <div class="row row-centered" ng-repeat="attachment in submissionsCtrl.submission.attachments">
         <a ng-show="submissionsCtrl.submission.submission_type === 'text'" class="btn btn-default" href="{{ attachment }}">download submission</a>
      </div>
   </div>
</div>
