<div class="container" ng-init="issuesAdminCtrl.getIssue()">
   <div class="row">
      <h1>issue options</h1>
      <hr>
      <h3>issue name: <input type="text" style="width: 50%;" ng-model="issuesAdminCtrl.issue.title"></h3>
      <h3>created: {{ ::issuesAdminCtrl.issue.created_at | date: 'medium' }}, updated: {{ ::issuesAdminCtrl.issue.updated_at | date: 'medium' }}</h3>
      <h3>num. of pieces: {{ issuesAdminCtrl.issue.pieces.length }}</h3>
      <h3>download link: {{ issuesAdminCtrl.issue.download_link }}</h3>
      <h3>cover image:</h3>
      <img class="center-block" uib-tooltip="click to change" ng-click="issuesAdminCtrl.openImageModal()" ng-src="{{ issuesAdminCtrl.issue.image_url }}" style="width: 50%; height: 25%; margin-bottom: 5px">
      <div class="form-group" style="margin-bottom: 5px">
         <input id="upload" type="file" name="cover" class="upload" style="display: none" file-select folder="'covers/'" accept="image/*" ng-model="issuesAdminCtrl.issue.image_url" upload-action="uploadImage" />
         <button type="button" uploadfile class="btn btn-default btn-block">Upload Cover Image</button>
      </div>
      <div class="form-group" style="margin-bottom: 5px">
         <input id="upload" type="file" name="pdf" class="upload" style="display: none" file-select folder="'issues/'" accept=".pdf" ng-model="issuesAdminCtrl.issue.download_link" />
         <button type="button" uploadfile class="btn btn-default btn-block">Upload Issue pdf</button>
      </div>
      <div class="form-group">
         <button class="btn btn-default btn-block" ng-click="issuesAdminCtrl.upsertIssue(issuesAdminCtrl.issue)">Save</button>
      </div>
   </div>
   <div class="row">
      <h1>issue pieces</h1>
      <table class="table">
         <tr>
            <th>order</th>
            <th>title</th>
            <th>author</th>
            <th>options</th>
         </tr>
         <tr ng-repeat="piece in issuesAdminCtrl.issue.pieces | orderBy: 'order'">
            <td>{{ piece.order }}</td>
            <td>{{ piece.title | cut:true: 25 }}</td>
            <td>by <font ng-repeat="user in piece.users"><span ng-show="!$first && !$last">, </span><span ng-show="$last && !$first"> and </span>{{ ::user.username }}</font>
            </td>
            <th><a class="btn btn-default" ui-sref="admin.issues-edit-piece({ id: piece.issue_id, piece: piece.title_url })">Edit</a> <a class="btn btn-default" href="#!/admin/issues/{{ ::issuesAdminCtrl.issue.id }}/{{ ::piece.title_url }}">Preview</a> <a class="btn btn-default" ng-click="piece.order = piece.order + 1"><span class="glyphicon glyphicon-chevron-up"></span></a> <a class="btn btn-default" ng-click="piece.order = piece.order - 1"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </th>
         </tr>
      </table>
      <a class="btn btn-default btn-block" href="#!/admin/issues/{{ issuesAdminCtrl.issue.id}}/pieces/create">Add Piece</a>
      <a class="btn btn-default btn-block" ng-click="issuesAdminCtrl.updatePieces()">Update Order</a>
   </div>
</div>
