<div class="contrast-bar">
  <h3 class="section-title">
    <a (click)="adminCtrl.setData('entries')">NEWS</a>
    //
    <a (click)="adminCtrl.setData('issues')">ISSUES</a>
    //
    <a (click)="adminCtrl.setData('posts')">POSTS</a>
    //
    <a (click)="adminCtrl.setData('users')">USERS</a>
  </h3>
  <div class="">
    Options: <font ng-if="adminCtrl.selector"><lemat-button style="default" (click)="adminCtrl.resetSelection(); adminCtrl.openAdminModal(adminCtrl.refresh, false)">create {{ adminCtrl.selector }}</lemat-button> //</font><lemat-button style="default" (click)="adminCtrl.openAdminModal(adminCtrl.refresh, true)">edit selection</lemat-button>//<lemat-button style="default" (click)="adminCtrl.delete(adminCtrl.object)">delete selection</lemat-button>
  </div>
</div>
<hr>
<div ui-grid="adminCtrl.gridOptions" ui-grid-edit ui-grid-selection ui-grid-tree-view class="grid"></div>
