<div ng-if="submissionHeader.complete" class="row row-centered">
  <h1 class="text-center title">REVIEW SUBMISSION</h1>
  <div class="col-md-6 col-centered">
    <p class="text-center">Preview your submission before submitting.</p>
  </div>
</div>
<div ng-if="!submissionHeader.complete" class="row row-centered">
  <h1 class="text-center title">SUBMISSION FORM (FUCKED)</h1>
  <div class="col-md-6 col-centered">
    <p class="text-center"><del>note: this form is a beta that seems to work pretty well with most browsers. If something weird happens, send your submission to
      <a href="mailto:lematjournal@gmail.com">lematjournal@gmail.com</a>
      and note the weird thing that happened.</del> How did you get in here?</p>
  </div>
</div>
<div class="row">
  <section>
    <div class="wizard">
      <div class="wizard-inner">
        <div class="connecting-line"></div>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ng-class="{ 'active' : $parent.$storage.currentPage === 0 }">
            <a (click)="submissionHeader.goTo(0)" aria-controls="step1" role="tab" title="Step 1">
              <span class="round-tab"><i class="glyphicon glyphicon-pencil"></i></span>
            </a>
          </li>
          <li role="presentation" ng-class="{ 'active' : $parent.$storage.currentPage === 1 }">
            <a aria-controls="step2" (click)="submissionHeader.goTo(1)">
              <span class="round-tab"><i class="glyphicon glyphicon-folder-open"></i></span>
            </a>
          </li>
          <li role="presentation" ng-class="{ 'active' : $parent.$storage.currentPage === 2 }">
            <a (click)="submissionHeader.goTo(2)" aria-controls="complete" role="tab" title="Complete">
              <span class="round-tab"><i class="glyphicon glyphicon-ok"></i></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
