<div class="container">
   <div class="row">
      <h3 class="title text-center">{{ entriesDetailCtrl.entry.title }}</h3>
   </div>
   <br>
   <div class="row">
      <p ng-bind-html="entriesDetailCtrl.entry.content | ToTrusted"></p>
      <p class="pull-right">- {{ entriesDetailCtrl.entry.user.email }}</p>
   </div>
   <div class="row">
      <a class="btn btn-default" ui-sref="entries">Back</a> <a class="btn btn-default" social-twitter custom-url="{{ ::entriesDetailCtrl.url }}"><span class="fa fa-twitter"></span></a>
      <dir-disqus disqus-shortname="lematjournal" disqus-identifier="{{ entries.identifier }}" disqus-url="{{ entriesDetailCtrl.url }}" disqus-title="{{ entriesDetailCtrl.entry.title }}">
      </dir-disqus>
   </div>
</div>
