<div class="row">
  <h2 class="title text-center">Info</h2>
  <hr>
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" name="title" ng-model="lematSubmissionInfo.submission.title" id="title" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="username" ng-model="lematSubmissionInfo.submission.user.username" id="name" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="email">Email Address†</label>
      <br>
      <label for="email" class="text-muted"><i>†we will not send you any unsolicited emails, this is to send a confirmation that we have recieved your submission and so the editors can coordinate with you on publishing your piece</i></label>
      <input type="email" name="email" ng-model="lematSubmissionInfo.submission.user.email_address" id="email" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="name">Submission Type</label>
      <select ng-model="lematSubmissionInfo.submission.submission_type" id="type" name="type" class="form-control" required>
        <option value="image">image(s)</option>
        <option value="text">text</option>
        <option value="video">video</option>
      </select>
    </div>
    <div class="form-group">
      <label for="content">Description†††</label>
      <br>
      <label class="text-muted"><i>†††in a short message to the editors describe your work, how you would like it shown and anything else you'd like to let us know</i></label>
        <trix-editor style="display: block" angular-trix ng-model="lematSubmissionInfo.submission.submission.content"></trix-editor>
    </div>
  </form>
</div>

<!-- <a class="btn btn-default pull-right" ng-class="{ disabled: infoForm.$invalid }" ui-sref-if="!infoForm.$invalid" ui-sref-val="main.submissions-upload">Next</a> -->
