<div class="container">
  <div class="row">
    <div class="content" ng-repeat="entry in entriesCtrl.entries | orderBy: '-created_at'">
      <div class="row">
        <h3 class="title text-center">{{ entry.title }}</h3>
        <p class="text-center"><a ui-sref="profile({ profile: postsDetailCtrl.post.user.username })">{{ entry.user.username }}</a></p>
        <p class="text-center">{{ entry.created_at | date: 'medium' }}</p>
        <hr>
      </div>
      <br>
      <div class="row">
        <p ng-bind-html="entry.content | ToTrusted"></p>
      </div>
      <br>
    </div>
  </div>
</div>
