<style>
  .date {
     height: 100%;
     opacity: .9;
     top: 45%;
     left: 5%;
     position: absolute;
     padding: 0;
     transition: opacity .5s;
  }

  .date-text {
    font-size: 25px;
    background-color: white;
    color: red;
  }

  .news-entry {
     letter-spacing: .1em;
     text-decoration: none;
  }

  @media (max-width: 992px) {
    .date {
      top: 69%;
      left: 4%;
    }
    .date-text {
      font-size: 32px;
    }
  }
</style>
<!-- <div class="container">
  <div class="row">
    <div class="content" ng-repeat="issue in entriesCtrl.issues">
      <div class="col-md-6">
        <div class="content-inner">
          <h2><a ui-sref="main.issues-detail({ issue: issue.id })"><img ng-src="{{ ::issue.image_url }}" class="img-responsive" /></a>
</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-inner" ng-repeat="piece in issue.pieces | orderBy: 'order'">
          <li><a ui-sref="main.issues-detail-piece({ id: piece.issue_id, piece: piece.title_url })"><h4>{{ ::piece.title }} - <font ng-repeat="user in piece.users"><span ng-show="!$first && !$last">, </span><span ng-show="$last && !$first"> and </span>{{ ::user.username }}</font></a>
            </h4>
          </li>
        </div>
      </div>
    </div>
  </div>
</div> -->
