<div class="row">
   <section>
      <div class="wizard">
         <div class="wizard-inner">
            <div class="connecting-line"></div>
            <ul class="nav nav-tabs" role="tablist">
               <li role="presentation">
                  <a ui-sref="main.submissions-info" aria-controls="step1" role="tab" title="Step 1">
                     <span class="round-tab"><i class="glyphicon glyphicon-pencil"></i></span>
                  </a>
               </li>
               <li role="presentation" class="active">
                  <a aria-controls="step2" role="tab" title="Step 2" ng-class="{ disabled: !valid }" ui-sref="main.submissions-upload">
                     <span class="round-tab"><i class="glyphicon glyphicon-folder-open"></i></span>
                  </a>
               </li>
               <li role="presentation">
                  <a ng-class=" { disabled : !valid }" ui-sref-if="submissionsCtrl.submission.attachments.length > 0" ui-sref-val="main.submissions-final" aria-controls="complete" role="tab" title="Complete">
                     <span class="round-tab"><i class="glyphicon glyphicon-ok"></i></span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </section>
</div>
<div class="row">
   <h2 class="title text-center">Upload</h2>
   <hr>
   <form name="linkForm" ng-show="submissionsCtrl.submission.submission_type === 'video'">
      <p class="text-center" ng-show="submissionsCtrl.submission.submission_type !== 'image'">Please upload your submission to YouTube and provide a link below. Click submit when you've finished.</p>
      <div class="form-group">
         <label>Link to YouTube Video</label>
            <div class="form-group">
               <input type="url" class="form-control" ng-model="submissionsCtrl.submission.link" ng-enter="submissionsCtrl.submitVideo()" required />
         </div>
         <div class="form-group">
            <a class="btn btn-default btn-block" ng-click="submissionsCtrl.submitVideo()">Submit</a>
         </div>
         <div class="form-group" ng-show="linkForm.$valid">
            <div class="embed-responsive embed-responsive-16by9">
               <youtube-video video-url="submissionsCtrl.submission.link"></youtube-video>
            </div>
         </div>
      </div>
   </form>
   <form name="uploadForm" ng-show="submissionsCtrl.submission.submission_type !== 'video'" novalidate>
      <p class="text-center" ng-show="submissionsCtrl.submission.submission_type !== 'image'">Please upload a document with your written work.
         <br> You can also copy and paste your submission by clicking "edit attachment" and pasting it in the text editor.</p>
      <p class="text-center" ng-show="submissionsCtrl.submission.submission_type === 'image'">Upload any image files you wish to include in your submission.
         <br> You can also upload a document containing any text you would like accompanying your text.
         <br> If you would like the images and text displayed in a specific way,
         <br> please indicate your specifications in the document.</p>
      <div class="form-group" ng-show="submissionsCtrl.imagesPresent() && submissionsCtrl.submission.attachments.length > 0">
         <table class="table">
            <label>Attached Images</label>
            <tr>
               <th>image thumbnail*</th>
               <th>filename</th>
               <th>credits</th>
            </tr>
            <tr ng-repeat="attachment in submissionsCtrl.submission.attachments | filterImages">
               <td>
                 <div class="profile-image">
                  <a uib-popover-template="imagePopover.templateUrl" popover-placement="right"><img ng-src="{{ attachment.image_url }}" height="50px" width="50px" /></a>
                  </div>
               </td>
               <script type="text/ng-template" id="image-popover.template.html">
                  <div class="text-center profile-image">
                     <img class="popover-image" ng-src="{{ attachment.image_url }}" height="50%" width="499px" />
                  </div>
               </script>
               <td><a uib-popover="{{ attachment.image_url }}" popover-placement="right">{{ attachment.image_url | cut:true:30 }}</a></td>
               <td>
                  <input type="text" class="form-control" ng-model="submissionsCtrl.submission.attachments[$index].credits" placeholder="title, date, medium and dimensions" ng-enter=""/>
               </td>
            </tr>
         </table>
         <p>*click to preview image</p>
      </div>
      <div class="form-group" ng-show="submissionsCtrl.documentPresent()">
         <table class="table">
            <label>Attached Document</label>
            <tr>
               <th>filename</th>
            </tr>
            <tr ng-repeat="attachment in submissionsCtrl.submission.attachments | filterDocs">
               <td><a ng-href="{{ attachment }}">{{ attachment }}</a></td>
            </tr>
         </table>
      </div>
      <br>
      <div class="form-group">
         <label>Upload Options</label>
         <input id="upload" type="file" name="submission" class="upload" style="display: none" file-select folder="'submissions/'" ng-model="submissionsCtrl.attachment" upload-action="uploadFile" />
         <button type="button" uploadfile class="btn btn-default btn-block"><i class="glyphicon glyphicon-cloud-upload"></i> Select file to upload</button>
      </div>
      <div class="form-group">
         <button type="button" ng-click="$parent.showEdit = !$parent.showEdit" class="btn btn-default btn-block"><i class="
glyphicon glyphicon-text-size"></i>Edit Attachment</button>
      </div>
      <div class="form-group">
         <button type="button" ng-disabled="submissionsCtrl.submission.attachments.length === 0" class="btn btn-default btn-block" ng-click="submissionsCtrl.clearAttachments()"><i class="glyphicon glyphicon-erase"></i> Clear Attachments</button>
      </div>
      <div class="form-group" ng-show="showEdit || submissionsCtrl.doc.length > 0">
         <label>Edit Document</label>
         <br>
         <label class="text-muted"><i>note: when editing your attachment some styles and elements like footnotes or list items may have to be manually formatted (this is a beta feature)</i></label>
         <wysiwyg textarea-id="question" textarea-class="form-control" textarea-height="400px" textarea-name="textareaQuestion" textarea-required ng-model="submissionsCtrl.doc"></wysiwyg>
         <br>
         <button type="button" class="btn btn-default btn-block" ng-click="submissionsCtrl.uploadDoc(submissionsCtrl.doc)" ng-disabled="!submissionsCtrl.doc"><i class="glyphicon glyphicon-cloud-upload"></i> Submit and Upload Document</button>
      </div>
      <p class="text-center"><i>note: if you opt to copy and paste your text or edit the attachment before submission you can preview your submission on the final page of this form.</i></p>

   </form>
</div>
<hr class="dotted">
<div class="btn-group pull-right">
   <a class="btn btn-default" ui-sref="main.submissions-info">Back</a>
   <a class="btn btn-default" ng-class="{ disabled: submissionsCtrl.submission.attachments.length === 0 }" ui-sref-if="submissionsCtrl.submission.attachments.length > 0" ui-sref-val="main.submissions-final" style="margin-left: 5px">Next</a>
   <!--   <a class="btn btn-default" ng-if="submissionsCtrl.submission_type === 'video'" ng-class="{ disabled: !linkForm.$invalid" ui-sref-if="!linkForm.$invalid" ui-sref-val="main.submissions-final" style="margin-left: 5px">Next</a>-->
</div>