<div class="container" id="contents">
	<div class="row">
		<div class="col-md-4">
			<h2>WRITTEN</h2>
			<ul ng-repeat="piece in issuesDetailCtrl.issue.pieces | orderBy: 'order' | filter: { piece_type: '!Picture' }">
				<li><a href="#{{ ::piece.title_url }}" du-smooth-scroll>{{ ::piece.title }}</a>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h2>PICTURED</h2>
			<ul ng-repeat="piece in issuesDetailCtrl.issue.pieces | filter: { piece_type: 'Picture'}">
				<li><a href="#{{ ::piece.title_url }}" du-smooth-scroll>{{ ::piece.title }}</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<h2>CONTRIBUTORS</h2>
			<ul ng-repeat="piece in issuesDetailCtrl.issue.pieces | unique:'users' | orderBy: 'order'" author>
				<li><font ng-repeat="user in piece.users | reverse"><span ng-show="!$first && !$last">, </span><span ng-show="$last && !$first"> and </span><a ui-sref="profile({ profile: user.username })">{{ ::user.username }}</font></a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div ng-repeat="piece in issuesDetailCtrl.issue.pieces | orderBy: 'order' | filter: author.name">
			<div class="content" id="{{ ::piece.title_url }}" style="margin-bottom: 50px">
					<h4 class="title text-center"><a ui-sref="pieces-detail({ issue: piece.issue_id, piece: piece.title_url })">{{ ::piece.title }}</a></h4>
					<p class="text-center"><font ng-repeat="user in piece.users"><span ng-show="!$first && !$last">, </span><span ng-show="$last && !$first"> and </span><a ui-sref="profile({ profile: user.username })">{{ ::user.username }}</a></font></p>
				<br>
				<p ng-bind-html="piece.content | ToTrusted"></p>
			</div>
		</div>
	</div>
</div>
