<div class="container" style="width: 99%">
   <h3>submission uid: {{ submissionsVoteModalCtrl.submission.uid }}</h3>
   <h3>{{ submissionsVoteModalCtrl.submission.votes_array }}</h3>
   <label>Cast your vote and leave a detailed comment</label>
   <div class="radio">
      <label>
         <input type="radio" value="YES" ng-model="submissionsVoteModalCtrl.submission.votes_array[index].vote"> Yes
      </label>
   </div>
   <div class="radio">
      <label>
         <input type="radio" value="NO" ng-model="submissionsVoteModalCtrl.submission.votes_array[index].vote"> No
      </label>
   </div>
   <div class="radio">
      <label>
         <input type="radio" value="ABSTAIN" ng-model="submissionsVoteModalCtrl.submission.votes_array[index].vote"> Abstain
      </label>
   </div>
   <div class="row" style="margin-bottom: 5px">
      <wysiwyg style="margin-bottom: 5px" textarea-id="question" textarea-class="form-control" textarea-height="400px" textarea-name="comment" textarea-required ng-model="submissionsVoteModalCtrl.comment.body" textarea-menu="customMenu"></wysiwyg>
      <div class="btn-group pull-right">
         <a class="btn btn-default" ng-click="cancel()">Close</a> <a class="btn btn-default" ng-click="ok()" style="margin-left: 5px">Cast Vote</a>
      </div>
   </div>
</div>