<div class="modal-body" style="height: 785px; width: 900px">
   <!-- navigation -->
   <dir-pagination-controls template-url="scripts/core/profile/profile.image-upload.modal/profile.image-upload.modal.pagination.tpl.html"></dir-pagination-controls>
   <hr>

   <div class="lightbox-image-container row-centered">
      <!-- image -->
      <div class="profile-image" dir-paginate="image in profileImageUploadModalCtrl.images | itemsPerPage: 1" current-page="currentPage" style="margin-top: 5px">
         <a ng-click="profileImageUploadModalCtrl.setProfileImage(image.image_url)">
            <img ng-src="{{ image.image_url }}" height="600px" width="100%">
         </a>
         <!-- caption -->
      </div>
   </div>

   <div class="row-centered" style="margin-top: 5px">
      <div class="form-group">
         <input id="upload" type="file" name="file" class="upload" style="display: none" file-select folder="'uploads/'" ng-model="profileImageUploadModalCtrl.profileImage" accept="image/*" upload-action="profileImageUploadModalCtrl.uploadImage" />
         <button type="button" uploadfile class="btn btn-default btn-block">Select Image to upload</button>
         <!--         <button type="button" ng-click="openImageManager()" class="btn btn-default btn-block">Manage User Images</button>-->
      </div>
      <div class="btn-group pull-right" style="margin-bottom: 5px">
         <a class="btn btn-default" ng-click="cancel()">Close</a> <a class="btn btn-default" ng-click="ok()" style="margin-left: 5px">Save</a>
      </div>
   </div>
</div>