<div class="container">
   <div class="row">
      <h3 class="title text-center">{{ usersCtrl.user.username }}</h3>
      <hr>
      <div class="profile-image">
         <a ng-click="usersCtrl.openImageModal()" uib-tooltip="click to change"><img class="img-responsive center-block" src="{{ usersCtrl.user.profile_image }}" height="455px" width="455px" />
         </a>
      </div>
      <br>
   </div>
   <hr>
   <div class="row">
      <!--panel-->
      <div class="panel panel-default">
         <div class="panel-heading">User</div>
         <div class="panel-body">
            <div class="row">
               <div class="col-md-6">
                  <div class="list-group">
                     <a class="list-group-item" ng-click="select($event); selection = 'info'">Info</a>
                     <a class="list-group-item" ng-click="select($event); selection = 'role'">Role</a>
                     <a class="list-group-item active" ng-click="select($event); selection = 'settings'">Settings</a>
                     <a class="list-group-item" ng-click="select($event); selection = 'password'">Password</a>
                     <a class="list-group-item" ng-click="select($event); selection = 'actions'">Actions</a>
                  </div>
               </div>
               <div class="col-md-6" ng-switch on="selection">
                  <div class="animate-switch" ng-switch-when="actions">
                     <a class="btn btn-default btn-block" ng-click="usersCtrl.upsertUser(user)">Save</a>
                     <a class="btn btn-default btn-block" ng-click="usersCtrl.resetUser()">Reset</a>
                     <a class="btn btn-default btn-block" ng-click="usersCtrl.deleteUser(usersCtrl.user.id, usersCtrl.user.username)">Delete</a>
                  </div>
                  <div class="animate-switch" ng-switch-default>
                     <div class="form-group">
                        <label for="name">Email</label>
                        <input type="text" ng-model="usersCtrl.user.email" id="email" class="form-control" placeholder="email">
                     </div>
                     <div class="form-group">
                        <label for="name">Username</label>
                        <input type="text" ng-model="usersCtrl.user.username" id="username" class="form-control" placeholder="username">
                     </div>
                  </div>
                  <div class="animate-switch" ng-switch-when="role">
                     <div class="form-group">
                        <label for="role">Role</label>
                        <select class="form-control" ng-model="usersCtrl.user.role">
                           <option value="admin">admin</option>
                           <option value="editor">editor</option>
                           <option value="author">author</option>
                           <option value="contributor">contributor</option>
                        </select>
                     </div>
                  </div>
                  <div class="animate-switch" ng-switch-when="info">
                     <h4>email: {{ usersCtrl.user.email }}</h4>
                     <h4>username: {{ usersCtrl.user.username }}</h4>
                     <h4>role: {{ usersCtrl.user.role }}</h4>
                     <h4>issue pieces: {{ usersCtrl.user.pieces.length }}</h4>
                     <h4>online content: {{ usersCtrl.user.posts.length }}</h4>
                     <h4>news entries: {{ usersCtrl.user.entries.length }}</h4>
                  </div>
                  <div class="animate-switch" ng-switch-when="password">
                     <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" ng-model="usersCtrl.user.password" id="author" class="form-control" placeholder="password" required>
                     </div>
                     <div class="form-group">
                        <label for="author">Confirm Password</label>
                        <input type="password" ng-model="usersCtrl.user.passwordConfirm" id="password" class="form-control" placeholder="password confirm" match="usersCtrl.user.password" required>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row" ng-if="usersCtrl.user.bio">
      <div class="panel panel-default">
         <div class="panel-heading">Bio</div>
         <div class="panel-body">
            <p>{{ usersCtrl.user.bio }}</p>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="panel panel-default">
         <div class="panel-heading">Content</div>
         <div class="panel-body">
            <div class="container" style="margin-top: -50px">
               <div class="row" ng-if="usersCtrl.user.pieces.length > 0">
                  <table class="table">
                     <col style="width: 50%">
                        <col style="width: 50%">
                           <tr>
                              <th>pieces</th>
                              <th>options</th>
                           </tr>
                           <tr ng-repeat="piece in usersCtrl.user.pieces | orderBy: 'order'">
                              <td>{{ ::piece.title | cut:true: 25 }}</td>
                              <td><a class="btn btn-default" ui-sref="main.issues-detail-piece({ id: piece.issue_id, piece: piece.title_url })">View</a> <a class="btn btn-default" ui-sref="admin.issues-edit-piece({ id: piece.issue_id, piece: piece.title_url })">Edit</a>
                              </td>
                           </tr>
                  </table>
               </div>
               <div class="row" ng-if="usersCtrl.user.posts.length > 0">
                  <table class="table">
                     <tr>
                        <th>online content</th>
                        <th>options</th>
                     </tr>
                     <col style="width: 50%">
                        <col style="width: 50%">
                           <tr ng-repeat="post in usersCtrl.user.posts">
                              <td>{{ ::post.title }}</td>
                              <td><a class="btn btn-default" ui-sref="main.posts-detail({ post: post.title_url })">View</a> <a class="btn btn-default" ui-sref="admin.posts-edit({ post: post.title_url })">Edit</a>
                              </td>
                           </tr>
                  </table>
               </div>
               <div class="row" ng-if="usersCtrl.user.entries.length > 0">
                  <table class="table">
                     <tr>
                        <th>news entries</th>
                        <th>options</th>
                     </tr>
                     <col style="width: 50%">
                        <col style="width: 50%">
                           <tr ng-repeat="entry in usersCtrl.user.entries">
                              <td>{{ ::entry.title }}</td>
                              <td>
                                <a class="btn btn-default" ui-sref="main.entries-detail({ entry: entry.title_url })">View</a> <a class="btn btn-default" ui-sref="admin.entries.edit({ entry: entry.title_url })">Edit</a>
                              </td>
                           </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
