<style>
  .dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
  }

  .nav .dot,
  .nav .dot a {
    display: inline-block;
    zoom: 1;
  }

  .dots .dot a.active {
    border-color: #FFF;
    background-color: white;
  }

  .dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid red;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
  }

  .arrow.next:hover {
    opacity: 1;
  }

  .arrow.prev {
    position: absolute;
    font-size: 50px;
    opacity: 0.5;
    top: 45%;
    right: 5%;
    bottom: 100px;
    transition: 0.2s linear all;
  }

  .arrow.prev:hover {
    opacity: 1;
  }

  .arrow.next {
    position: absolute;
    font-size: 50px;
    opacity: 0.5;
    top: 45%;
    right: 90%;
    bottom: 100px;
    transition: 0.2s linear all;
  }

  .wizard {
    margin: 20px auto;
    background: #fff;
  }

  .wizard .nav-tabs {
    position: relative;
    margin: 0 auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
  }

  .wizard > div.wizard-inner {
    position: relative;
  }

  .connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 65%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
  }

  .wizard .nav-tabs > li.active > a,
  .wizard .nav-tabs > li.active > a:hover,
  .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
  }

  .nav-tabs {
    border-bottom: 0px;
  }

  span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
  }

  span.round-tab i {
    color: #555555;
  }

  .wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
  }

  .wizard li.active span.round-tab i {
    color: #5bc0de;
  }

  span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
  }

  .wizard .nav-tabs > li {
    width: 33%;
  }
  /*
.wizard li:after {
    content: " ";
    position: absolute;
    left: 47%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 47%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}
*/

  .wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
  }

  .wizard .nav-tabs > li a:hover {
    background: transparent;
  }

  .wizard .tab-pane {
    position: relative;
    padding-top: 50px;
  }

  .wizard h3 {
    margin-top: 0;
  }

  @media( max-width: 585px) {
    .wizard {
      width: 90%;
      height: auto !important;
    }
    span.round-tab {
      font-size: 16px;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
    .wizard .nav-tabs > li a {
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
    /*
    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 40%;
    }
*/
  }
</style>
<div class="container">
  <div ui-view="title"></div>
  <div ui-view="body"></div>
</div>
