<style>
  .btn {
    letter-spacing: 1px;
    text-decoration: none;
    background: none;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid;
    padding: 8px 20px;
  }
  .btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .btn-outlined.btn-theme {
    background: none;
    color: #6f5499;
    border-color: #6f5499;
  }
  .btn-outlined.btn-theme:hover,
  .btn-outlined.btn-theme:active {
    color: #FFF;
    background: #6f5499;
    border-color: #6f5499;
  }
  .btn-outlined.btn-black {
    background: none;
    color: #000000;
    border-color: #000000;
  }
  .btn-outlined.btn-black:hover,
  .btn-outlined.btn-black:active {
    color: #FFF;
    background: #000000;
    border-color: #000000;
  }
  .btn-outlined.btn-white {
    background: none;
    color: #FFFFFF;
    border-color: #FFFFFF;
  }
  .btn-outlined.btn-white:hover,
  .btn-outlined.btn-white:active {
    color: #6f5499;
    background: #FFFFFF;
    border-color: #FFFFFF;
  }
  .btn-xs {
    font-size: 11px;
    line-height: 14px;
    border: 1px solid;
    padding: 5px 10px;
  }
  .btn-sm {
    font-size: 12px;
    line-height: 16px;
    border: 2px solid;
    padding: 8px 15px;
    border-radius: 0;
  }
  .btn-lg {
    font-size: 18px;
    line-height: 22px;
    border: 1px solid;
    padding: 13px 40px;
  }

</style>
<a ng-class="{ 'btn btn-default' : lematButton.style === 'default',
   'btn btn-xs' : lematButton.style === 'extra-small',
   'btn btn-sm' : lematButton.style === 'small',
   'btn btn-lg' : lematButton.style === 'large',
   'btn btn-outlined' : lematButton.style === 'outlined',
   'btn btn-outlined btn-theme' : lematButton.style === 'theme',
   'btn btn-outlined btn-black' : lematButton.style === 'black' }">
  <ng-transclude></ng-transclude>
</a>
