<nav class="navbar navbar-default navbar-fixed-top" style="margin-top: -25px; position: absolute">
  <div class="container-fluid">
    <div class="navbar-header-dropdown" uib-dropdown on-toggle="toggled(open)">
      <a class="menu-bar" uib-dropdown-toggle>
        <span class="glyphicon glyphicon-menu-hamburger" style="font-size: 16px;"></span>
        <font class="menu-logo">
          <b ng-if="title">
            //</b>
          {{ title }}</a>
      </font>
      <div class="dropdown-menu row" style="overflow: hidden; position: absolute">
        <ul class="nav col-sm-6 col-xs-6" role="menu">
          <li>
            <h4 style="padding-left: 5px;">HOME</h4>
          </li>
          <li class="divider"></li>
          <li>
            <a ui-sref="main">MAIN PAGE</a>
          </li>
          <li>
            <a ui-sref="issues-detail({ issue: 1 })">CURRENT ISSUE</a>
          </li>
          <li>
            <a ui-sref="issues">ISSUES</a>
          </li>
          <li ng-if="!navCtrl.isAuthenticated()">
            <a ui-sref="login">LOGIN</a>
          </li>
          <li ng-if="navCtrl.isAuthenticated()">
            <a (click)="navCtrl.logout()">LOGOUT</a>
          </li>
        </ul>
        <ul class="nav col-sm-6 col-xs-6" role="menu">
          <li>
            <h4 style="padding-left: 5px;">ONLINE</h4>
          </li>
          <li class="divider"></li>
          <li>
            <a (click)="navCtrl.setFilter()">CONTENTS</a>
          </li>
          <li>
            <a (click)="navCtrl.setFilter('art')">ART</a>
          </li>
          <li>
            <a (click)="navCtrl.setFilter('essay')">ESSAYS</a>
          </li>
          <li>
            <a (click)="navCtrl.setFilter('poetry')">POETRY</a>
          </li>
        </ul>
        <ul class="nav col-sm-6 col-xs-6 contact" role="menu">
          <li>
            <h4 style="padding-left: 5px;">JOURNAL</h4>
          </li>
          <li class="divider"></li>
          <li>
            <a ui-sref="about">ABOUT</a>
          </li>
          <li ng-if="navCtrl.isAdmin()">
            <a ui-sref="admin">ADMIN</a>
          </li>
          <li>
            <a ui-sref="editors">EDITORS</a>
          </li>
          <li ng-if="navCtrl.isAuthenticated()">
            <a ui-sref="profile-edit">PROFILE</a>
          </li>
          <li>
            <a ui-sref="submissions">SUBMISSIONS</a>
          </li>
        </ul>
        <ul class="nav col-sm-6 col-xs-6" role="menu">
          <li>
            <h4 style="padding-left: 5px;">SOCIAL</h4>
          </li>
          <li class="divider"></li>
          <li>
            <a href="https://www.facebook.com/lematjournal">
              <i class=" fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/lematjournal">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/lematjournal">
              <i class="fa fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
