<div class="row">
  <h2 class="title text-center">Upload</h2>
  <hr>
  <form name="linkForm" ng-if="lematSubmissionUpload.submission.submission_type ==='video'">
    <p class="text-center">Please upload your submission to YouTube and provide a link below. Click submit when you've finished.</p>
    <div class="form-group">
      <label>Link to YouTube Video</label>
      <div class="form-group">
        <input type="url" class="form-control" ng-model="lematSubmissionUpload.submission.link" ng-enter="lematSubmissionUpload.submitVideo()" required/>
      </div>
      <div class="form-group">
        <a class="btn btn-default btn-block" ng-click="lematSubmissionUpload.submitVideo()">Submit</a>
      </div>
      <div class="form-group" ng-show="linkForm.$valid">
        <div class="embed-responsive embed-responsive-16by9">
          <youtube-video video-url="lematSubmissionUpload.submission.link"></youtube-video>
        </div>
      </div>
    </div>
  </form>
  <form name="uploadForm" ng-show="lematSubmissionUpload.submission.submission_type !== 'video'" novalidate>
    <p class="text-center" ng-show="lematSubmissionUpload.submission.submission_type !== 'image'">Please upload a document with your written work plz.
    <p class="text-center" ng-show="lematSubmissionUpload.submission.submission_type === 'image'">Upload any image files you wish to include in your submission plz.
      <br>
      You can also upload a document containing any text you would like accompanying your images or specifications for the editors.
      <br>
    <div class="form-group">
      <table class="table">
        <label>Attached Images</label>
        <tr>
          <th>image thumbnail*</th>
          <th>filename</th>
          <th>credits</th>
        </tr>
        <tr ng-repeat="attachment in lematSubmissionUpload.submission.attachments">
          <td>
            <div class="profile-image">
              <a uib-popover-template="imagePopover.templateUrl" popover-placement="right"><img ng-src="{{ attachment.image_url }}" height="50px" width="50px"/></a>
            </div>
          </td>
          <script type="text/ng-template" id="image-popover.template.html">
            <div class="text-center profile-image">
              <img class="popover-image" ng-src="{{ attachment.image_url }}" height="50%" width="499px"/>
            </div>
          </script>
          <td>
            <a uib-popover="{{ attachment.image_url }}" popover-placement="right">{{ attachment.image_url | cut : true : 30 }}</a>
          </td>
          <td>
            <input type="text" class="form-control" ng-model="lematSubmissionUpload.submission.attachments[$index].credits" placeholder="title, date, medium and dimensions" ng-enter=""/>
          </td>
        </tr>
      </table>
      <p>*click to preview image</p>
    </div>
    <div class="form-group">
      <table class="table">
        <label>Attached Document(s)</label>
        <tr>
          <th>filename</th>
        </tr>
        <tr ng-repeat="attachment in lematSubmissionUpload.submission.attachments">
          <td>
            <a ng-href="{{ attachment }}">{{ attachment }}</a>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <div class="form-group">
      <label>Upload Options</label>
      <button type="button" ngf-select="lematSubmissionUpload.uploadFile($file, 'uploads/')" class="btn btn-default btn-block">
        <i class="glyphicon glyphicon-cloud-upload"></i>
        Select file to upload</button>
    </div>
    <div class="form-group">
      <button type="button" ng-disabled="lematSubmissionUpload.submission.attachments.length === 0" class="btn btn-default btn-block" ng-click="lematSubmissionUpload.clearAttachments()">
        <i class="glyphicon glyphicon-erase"></i>
        Clear Attachments</button>
    </div>
  </form>
</div>
