<div class="row">
  <h2 class="title text-center">Upload</h2>
  <hr>
  <form name="linkForm" ng-if="upload.submission.submission_type ==='video'">
    <p class="text-center">Please upload your submission to YouTube and provide a link below. Click submit when you've finished.</p>
    <div class="form-group">
      <label>Link to YouTube Video</label>
      <div class="form-group">
        <input type="url" class="form-control" ng-model="upload.submission.link" ng-enter="upload.submitVideo()" required/>
      </div>
      <div class="form-group">
        <a class="btn btn-default btn-block" ng-click="upload.submitVideo()">Submit</a>
      </div>
      <div class="form-group" ng-show="linkForm.$valid">
        <div class="embed-responsive embed-responsive-16by9">
          <youtube-video video-url="upload.submission.link"></youtube-video>
        </div>
      </div>
    </div>
  </form>
  <form name="uploadForm" ng-show="upload.submission.submission_type !== 'video'" novalidate>
    <p class="text-center">Please upload any images and a document with any written work or specifications for the editors u wld like to include plz.</p>
    <div class="form-group">
      <table class="table">
        <label>Attached Filez(es)</label>
        <tr>
          <th>filename</th>
        </tr>
        <tr ng-repeat="attachment in upload.submission.attachments">
          <td>
            <a ng-href="{{ attachment.url }}">{{ attachment.url }}</a>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <div class="form-group">
      <label>Upload Options</label>
      <button type="button" ngf-select="upload.uploadFile($file, '/uploads/')" class="btn btn-default btn-block">
        <i class="glyphicon glyphicon-cloud-upload"></i>
        Select file to upload</button>
    </div>
    <div class="form-group">
      <button type="button" ng-disabled="upload.submission.attachments.length === 0" class="btn btn-default btn-block" ng-click="upload.clearAttachments()">
        <i class="glyphicon glyphicon-erase"></i>
        Clear Attachments</button>
    </div>
  </form>
</div>
