<div class="container" ng-init="profileCtrl.getUserProfile()">
   <form name="userForm">
      <div class="row">
         <h3 class="title text-center"><a ng-click="profileCtrl.fields.editName = !profileCtrl.fields.editName" ng-show="!fields.editName">{{ profileCtrl.user.username }}</a></h3>
         <h3><input type="text" name="editName" class="title text-center" ng-model="profileCtrl.user.username" style="width: 100%" ng-keyup="reset($event, field)" ng-show="profileCtrl.fields.editName" ng-enter="save($event, 'editName', user)"></h3>
         <hr class="dotted">
         <div class="profile-image">
            <a ng-click="profileCtrl.openImageModal()" uib-tooltip="click to change"><img class="img-responsive center-block" ng-src="{{ profileCtrl.user.profile_image }}" height="455px" width="443.636px" />
            </a>
         </div>
         <br>
      </div>
      <div class="row">
         <a ng-click="profileCtrl.fields.editBio = !profileCtrl.fields.editBio"><h4 class="title text-center">BIO</h4>
         <p class="text-center" ng-hide="profileCtrl.fields.editBio" ng-show="!profileCtrl.fields.editBio">{{ profileCtrl.user.bio }}</p></a>
         <input type="text" name="userBio" ng-model="profileCtrl.user.bio" ng-keyup="reset($event, field)" ng-if="profileCtrl.fields.editBio" class="form-control" ng-enter="profileCtrl.save($event, 'editBio', profileCtrl.user)" />
         <i ng-if="editBio">* press 'esc' to reset field</i>
      </div>
      <div class="row" ng-if="profileCtrl.user.pieces.length > 0">
         <h4 class="title text-center">ISSUE PIECES</h4>
         <div ng-repeat="piece in profileCtrl.user.pieces">
            <p class="text-center"><a ui-sref="main.issues-detail-piece({ issue: piece.issue_id, piece: piece.title_url })">{{ piece.title | uppercase }}</a>
            </p>
         </div>
      </div>
      <div class="row" ng-if="profileCtrl.user.posts.length > 0">
         <h4 class="title text-center">ARTWORK/ONLINE CONTENT</h4>
         <div ng-repeat="post in profileCtrl.user.posts">
            <p class="text-center"><a ui-sref="main.posts-detail({ post: post.title_url })">{{ post.title | uppercase }}</a>
            </p>
         </div>
      </div>
      <div class="row" ng-if="profileCtrl.user.entries.length > 0">
         <h4 class="title text-center">NEWS ENTRIES</h4>
         <div ng-repeat="entry in profileCtrl.user.entries">
            <p class="text-center"><a ui-sref="main.entries-detail({ entry: entry.title_url })">{{ entry.title | uppercase }}</a>
            </p>
         </div>
      </div>
      <div class="row" ng-if="profileCtrl.user.social_links.length > 0">
         <h4 class="title text-center">SOCIAL LINKS</h4>
         <div class="col-xs-6 col-center-block">
            <ul class="social" ng-repeat="(key, val) in profileCtrl.user.social_links">
               <li class="social-link" uib-popover-template="popover.templateUrl"><a><i ng-class="{'fa fa-twitter' : key === 'twitter', 'fa fa-facebook' : key === 'facebook', 'fa fa-linkedin' : key === 'linked_in', 'fa fa-tumblr' : key === 'tumblr', 'fa fa-behance' : key === 'behance', 'fa fa-github' : key === 'github', 'fa fa-youtube-play' : key === 'youtube', 'fa fa-wordpress' : key === 'wordpress', 'fa fa-instagram' : key === 'instagram', 'fa fa-google-plus' : key === 'google_plus' }"></i></a>
                  <script type="text/ng-template" id="popoverTemplate.html">
                     <div class="form-group">
                        <input type="text" ng-model="profileCtrl.user.social_links[key]" class="form-control" style="width: 100%" placeholder="enter {{ key }} link" ng-enter="profileCtrl.save($event, nil, profileCtrl.user)" />
                     </div>
                     <a class="btn-default"></a>
                  </script>
               </li>
            </ul>
         </div>
      </div>
   </form>
</div>
