<div class="container">
   <h1 class="text-center title">LE MAT SUBMISSION GUIDELINES</h1>
   <br>
   <p class="about-text">There <del>are two ways</del> is one way to send submissions:</p>
   <ul>
      <li class="about-text"><del>Via our <a>online submission form</a>: <a>link</a></del> (our in browser text editor broke with the last upgrade and we owe Amazon webservices $24,000 in EC2 fees)</li>
      <li class="about-text">Via our email address at <a href="mailto:lematjournal@gmail.com">lematjournal@gmail.com</a></li>
   </ul>
   <p class="about-text">If you decide to submit via email then please use the following guidelines:</p>
   <ul>
      <li class="about-text">In your email include a short description of your work, the name (your name) with which you wish to be credited and any other information you would like to share about you or your piece. Optionally you may include any hashtag catagories you would like to associate with your piece.</li>
      <li class="about-text">For written work we will accept the following:</li>
      <blockquote>
         <ul>
            <li class="about-text">1 to 5 poems</li>
            <li class="about-text">Weird short stories/experimental fiction.</li>
            <li class="about-text">Critical works (art criticism, philosophy, literary theory/analysis, art history, knickknacks) of 1000 to 3000 words. Please use MLA format for footnoting, etc.</li>
            <li class="about-text">Feel free to submit longer works, however, shorter pieces work better with our format.</li>
         </ul>
      </blockquote>
      <li class="about-text">Please use the ".docx" file type for your submission and include all the works you are submitting in a single document.</li>
      <li class="about-text">For visual art we will accept 1 to 5 images of 10mb or less in any file type. Final proportions are to be determined mostly by our format and printing/cost constraints. We accept all species of photography and digital art. All submissions should be captioned in the following format:
         <br>
         <blockquote class="about-text">Artist, title, date, medium, and dimensions followed by the museum/collection, city, copyright and any other photo credits. There is no terminal period unless the basic caption information is followed by a descriptive sentence. Complete information on medium, dimensions, and collection should be provided if possible. Proper copyright information is manditory if the work is copy protected.</blockquote>
      </li>
      <li class="about-text">For video art please upload your work to YouTube and submit using our online submission form. Please follow the above citation style.
      </li>
   </ul>
   <p style="font-size: 16px" class="pull-right">- The Editors</p>
</div>
