<div class="row" ng-init="submissionsCtrl.getAttachmentHtml()">
   <section>
      <div class="wizard">
         <div class="wizard-inner">
            <div class="connecting-line"></div>
            <ul class="nav nav-tabs" role="tablist">
               <li role="presentation">
                  <a ui-sref="main.submissions-info" aria-controls="step1" role="tab" title="Step 1">
                     <span class="round-tab"><i class="glyphicon glyphicon-pencil"></i></span>
                  </a>
               </li>
               <li role="presentation">
                  <a aria-controls="step2" role="tab" title="Step 2" ui-sref="main.submissions-upload">
                     <span class="round-tab"><i class="glyphicon glyphicon-folder-open"></i></span>
                  </a>
               </li>
               <li role="presentation" class="active">
                  <a ng-class="{ disabled : !valid }" aria-controls="complete" role="tab" title="Complete">
                     <span class="round-tab"><i class="glyphicon glyphicon-ok"></i></span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </section>
</div>

<div class="row">
   <div class="row-centered">
      <h2 class="title">Submission Info</h2>
      <hr>
      <h4 class="title">Name</h4>
      <p>{{ submissionsCtrl.submission.user.username }}</p>
      <h4 class="title">Email</h4>
      <p class="">{{ submissionsCtrl.submission.email_address }}</p>
      <h4 class="title">Type</h4>
      <p class="">{{ submissionsCtrl.submission.submission_type }}</p>
      <h4 class="title">Description</h4>
      <p class="" ng-bind-html="submissionsCtrl.submission.email_content"></p>
      <h4 class="title">Attachment(s)</h4>
      <div class="form-group" ng-show="submissionsCtrl.submission.submission_type === 'video'">
         <p ng-repeat="attachment in submissionsCtrl.submission.attachments"> {{ attachment }}</p>
      </div>
      <div class="form-group" ng-show="submissionsCtrl.submission.submission_type === 'text'">
         <p class="title">Document</p>
         <p class="" ng-repeat="attachment in submissionsCtrl.submission.attachments | filterDocs">{{ attachment }}</p>
      </div>
      <div class="form-group" ng-show="submissionsCtrl.images.length > 0">
         <p class="title">Images</p>
         <p class="" ng-repeat="attachment in submissionsCtrl.submission.attachments">{{ attachment.image_url }}</p>
      </div>
   </div>
   <!--
   <div class="row" ng-show="submissionsCtrl.doc || submissionsCtrl.images.length > 0">
      <h2 class="title text-center">Meta</h2>
      <p class="text-center">a rough rendering of how your piece will look in the "/online" view</p>
      <div class="row row-centered">
         <div class="col-md-6 col-centered">
            <div class="panel panel-default">
               <div class="panel-heading"><a style="text-transform: uppercase" uib-sref="">{{ submissionsCtrl.submission.title }}</a>
               </div>
               <div class="panel-body">
                  <div class="video embed-responsive embed-responsive-16by9" ng-if="submissionsCtrl.submission.submission_type === 'video'">
                     <youtube-video video-url="submissionsCtrl.submission.link" style="padding-bottom: 5px"></youtube-video>
                  </div>
                  <p class="overflow elipsis" ng-bind-html="submissionsCtrl.doc" ng-if="submissionsCtrl.doc"></p>
                  <div class="video" ng-repeat="image in submissionsCtrl.submission.attachments | filterImages">
                     <img ng-src="{{ image.image_url }}" height="100%" width="100%" ng-class="{ 'margin-bottom: 50px' : !$last }">
                  </div>
               </div>
               <div class="panel-footer">
                  <div class="row meta">
                     <div class="tags-meta">
                        <a class="text-center" style="margin-top: 5px" uib-popover-template="tagPopover.templateUrl">
                           <p style="margin-right: 30px">TAGS</p>
                        </a>
                        <script type="text/ng-template" id="tag-popover.template.html">
                           <div class="form-group">
                              <p><font ng-repeat="tag in submissionsCtrl.submission.tags"><span ng-show="!$first">, </span><a>#{{ ::tag | uppercase }}</a></font></p>
                           </div>
                        </script>
                     </div>
                     <div class="author">
                        <a>
                           <p class="text-center" style="margin-top: 5px">{{ submissionsCtrl.submission.user.username }}</p>
                        </a>
                     </div>
                     <div class="share" style="text-align: center">
                        <a style="margin-top: 5px">
                           <p class="fa fa-twitter"></p>
                        </a>
                     </div>
                     <div class="link">
                        <a style="margin-top: 5px">
                           <p class="text-center" style="margin-left: -5px">LINK</p>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <hr>
-->
   <div class="row" ng-show="submissionsCtrl.submission.submission_type === 'text' && submissionsCtrl.evaluateDoc()">
      <h2 class="title text-center">Document Preview</h2>
      <hr>
      <h4 class="title text-center">{{ submissionsCtrl.submission.title }}</h4>
      <p class="text-center">{{ submissionsCtrl.submission.user.username }}</p>
      <p class="text-center">{{ submissionsCtrl.submission.created_at | date: 'medium' }}</p>
      <p ng-bind-html="submissionsCtrl.doc"></p>
   </div>
   <div class="row" ng-show="submissionsCtrl.images.length > 0 && submissionsCtrl.submission.submission_type === 'image'">
      <h2 class="title text-center">Images Preview</h2>
      <hr>
      <div class="text-center" ng-repeat="attachment in submissionsCtrl.submission.attachments | filterImages">
         <img ng-src="{{ attachment.image_url }}" />
         <p class="text-center">{{ attachment.credits }}</p>
      </div>
   </div>
   <hr class="dotted">
   <div class="btn-group pull-right">
      <a class="btn btn-default" ui-sref="main.submissions-upload">Back</a>
      <a class="btn btn-default" style="margin-left: 5px" ng-click="submissionsCtrl.postSubmission()">Submit</a>
   </div>
</div>