body {
  font-family: 'Arial', sans-serif;
  padding: 30px 15px 0;
}

.container {
  padding-top: 50px;
}
a:hover {
  color: red;
  cursor: pointer;
}
.contrast-bar {
  padding: 0 10px;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 14px;
}
.menu-block {
  margin-left: 220px;
  margin-top: 18px;
}
.title {
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.header {
  background-color: white;
}
.black {
  color: black;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.col-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.social-link {
  list-style: none;
}
tags-input .autocomplete, tags-input .tags {
  border-radius: 0;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-addon {
  border-radius: 0;
}
.input-group-addon a {
  color: black;
}
p {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  letter-spacing: 0.01em;
}
.col-xs-3 img {
  object-fit: cover;
}
.profile-image img {
  object-fit: contain;
}
.modal-content {
  border-radius: 0;
}
.modal-image img {
  object-fit: cover;
}
.app-modal-window .modal-dialog {
  width: 1200px;
  overflow: visible;
}
.app-modal-window .modal-content {
  height: 630px;
}
.ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 650px;
  /*    margin: 0 auto;*/
  /*    font-size: 26px;*/
  line-height: 1.4;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.about-text {
  line-height: 200%;
  font-size: 16px;
}
.popover {
  max-width: 500px;
}
.popover-image {
  margin: -11px 0 -12px -15px;
}

/* centered columns styles */

.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}
@media (min-width: 768px) {
  .social-buttons {
    width: inherit;
  }
}
@media( max-width: 585px) {
  .wizard {
    width: 90%;
    height: auto !important;
  }
  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.inner-box {
   height: 100%;
   width: 100%;
   opacity: 0;
   top: 0;
   left: 0;
   position: absolute;
   padding: 0;
   transition: opacity .5s;
}

.inner-box:hover {
   opacity: .9;
   transition: opacity .5s;
}

.date {
   height: 100%;
   opacity: .9;
   top: 45%;
   left: 5%;
   position: absolute;
   padding: 0;
   transition: opacity .5s;
}

.date-text {
  font-size: 25px;
  background-color: white;
  color: red;
}

.news-entry {
   letter-spacing: .1em;
   text-decoration: none;
}

.author {
  display: table-cell;
  text-transform: uppercase;
  border-right: 1px solid #ddd;
  height: 21px;
  width: 30%;
}
.deckgrid[deckgrid]::before {
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content: '2 .col-md-6';
  font-size: 0;
  /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}

.deckgrid .col-md-6 {
  float: left;
}

.deckgrid .col-md-6 {
  width: 50%;
}

.link {
  display: table-cell;
  height: 21px;
  width: 20%;
}

.meta {
  display: table;
  width: 100%;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.panel-default > .panel-heading {
  background-color: white;
}

.panel-footer {
  background-color: #FFFFFF;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
}

.video-thumbnail {
  zoom: 2;
  display: block;
  float: left;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.tags-meta {
  display: table-cell;
  text-transform: uppercase;
  border-right: 1px solid #ddd;
  height: 21px;
  width: 20%;
}

.share {
  display: table-cell;
  border-right: 1px solid #ddd;
  height: 21px;
  width: 30%;
}

/* the caption overlays the top left corner of the image */
.lightbox-image-caption {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5em 0.9em; /* the left and right margins are offset by 0.4em for the span box-shadow */
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  text-shadow: 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.5);
}

.lightbox-image-caption span {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background-color: rgba(255, 255, 255, 0.75);
  /* pad the left and right of each line of text */
  box-shadow: 0.4em 0 0 rgba(255, 255, 255, 0.75),
    -0.4em 0 0 rgba(255, 255, 255, 0.75);
}

.btn {
  letter-spacing: 1px;
  text-decoration: none;
  background: none;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid;
  padding: 8px 20px;
}
.btn-outlined {
  border-radius: 0;
  transition: all 0.3s;
}
.btn-outlined.btn-theme {
  background: none;
  color: #6f5499;
  border-color: #6f5499;
}
.btn-outlined.btn-theme:hover, .btn-outlined.btn-theme:active {
  color: #FFF;
  background: #6f5499;
  border-color: #6f5499;
}
.btn-outlined.btn-black {
  background: none;
  color: #000000;
  border-color: #000000;
}
.btn-outlined.btn-black:hover, .btn-outlined.btn-black:active {
  color: #FFF;
  background: #000000;
  border-color: #000000;
}
.btn-outlined.btn-white {
  background: none;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.btn-outlined.btn-white:hover, .btn-outlined.btn-white:active {
  color: #6f5499;
  background: #FFFFFF;
  border-color: #FFFFFF;
}
.btn-xs {
  font-size: 11px;
  line-height: 14px;
  border: 1px solid;
  padding: 5px 10px;
}
.btn-sm {
  font-size: 12px;
  line-height: 16px;
  border: 2px solid;
  padding: 8px 15px;
  border-radius: 0;
}
.btn-lg {
  font-size: 18px;
  line-height: 22px;
  border: 1px solid;
  padding: 13px 40px;
}

.footer {
  height: auto;
  padding-bottom: 30px;
  margin-top: 10px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  /*  border-top: 1px solid #DDDDDD; */
}

.footer p {
  margin: 0;
}

.footer img {
  max-width: 100%;
}

.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  /*	color: #54697E;*/
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: .02em;
  padding: 40px 0 10px;
  text-transform: uppercase;
}

.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}

.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}

.footer a {
  color: #78828D
}

.social li a {
  color: #EDEFF1;
}

.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}

.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}

.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-bottom p.pull-left {
  padding-top: 6px;
}

.full {
  width: 100%;
}

.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}

.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

@media (max-width: 768px) {
  .col-sm-6 {
    width: 100%;
  }
}

.bars {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #333;
  box-shadow: 0 5px 0 #333, 0 10px 0 #333;
}

.dropdown-menu .col-sm-6 {
  width: 25%;
}

.navbar {
  height: 65px;
}

.navbar-default {
  background-color: white;
  border-color: white;
}

.navbar-header-dropdown {
  margin-top: 16px;
  margin-left: -16px;
  font-size: 18px;
}

.menu-logo {
  margin-left: 9px;
  font-size: 21px;
}

.menu-bar {
  position: absolute;
  top: 20px;
  left: 3.5%;
  height: 14px;
  margin-left: -10px;
  color: black;
}

.menu {
  display: none;
  width: 100%;
  padding: 30px 10px 50px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

.menu ul {
  margin-bottom: 0;
}

.menu a {
  color: #333;
  text-transform: uppercase;
  opacity: 0.8;
}
.menu a:hover {
  text-decoration: none;
  opacity: 1;
}

.dropdown-menu {
  position: relative;
  border: 0 solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  margin-top: 19px;
  width: 800px;
  left: 10px;
  border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, .175);
}

@media(max-width:800px) {
  .dropdown-menu {
    width: 100%;
  }

  .dropdown-menu .col-sm-6 {
    width: 50%;
  }
}

.dots .dot {
  position: relative;
  margin: 0 8px;
  width: 12px;
  height: 12px;
}

.nav .dot,
.nav .dot a {
  display: inline-block;
  zoom: 1;
}

.dots .dot a.active {
  border-color: #FFF;
  background-color: white;
}

.dots .dot a {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid red;
  outline: none;
  box-shadow: none;
  border-radius: 50%;
  transition: background-color 0.25s, border-color 0.25s;
}
.arrow.next:hover {
  opacity: 1;
}

.arrow.prev {
  position: absolute;
  font-size: 50px;
  opacity: 0.5;
  top: 45%;
  right: 5%;
  bottom: 100px;
  transition: 0.2s linear all;
}
.arrow.prev:hover {
  opacity: 1;
}

.arrow.next {
  position: absolute;
  font-size: 50px;
  opacity: 0.5;
  top: 45%;
  right: 90%;
  bottom: 100px;
  transition: 0.2s linear all;
}

.wizard {
  margin: 20px auto;
  background: #fff;
}

.wizard .nav-tabs {
  position: relative;
  margin: 0 auto;
  border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 65%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

.nav-tabs {
  border-bottom: 0;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tab i {
  color: #555555;
}

.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de;
}

.wizard li.active span.round-tab i {
  color: #5bc0de;
}
span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 33%;
}
/*
.wizard li:after {
  content: " ";
  position: absolute;
  left: 47%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 47%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}
*/

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}
.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}

.wizard h3 {
  margin-top: 0;
}
