/* to do: break up this effing file */
body {
  font-family: 'Arial', sans-serif;
  padding-top: 50px;
}

#trix-input-1 {
  display: none;
}

#trix-toolbar-1 {
  display: none;
}

trix-editor {
  display: none;
}

.container {
  padding-top: 50px;
}

a:hover {
  color: red;
  cursor: pointer;
}

.contrast-bar {
  padding: 0 10px;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 14px;
}

.logo {
  margin-left: 109px;
  margin-top: 13px;
  color: black;
  font-size: 19px;
}

.menu-block {
  margin-left: 220px;
  margin-top: 18px;
}

.title {
  font-weight: 700;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.news-entry {
  letter-spacing: .1em;
  text-decoration: none;
}

.header {
  background-color: white;
}

.black {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.col-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.social-link {
  list-style: none;
}

body {
  padding: 30px 15px 0;
}

tags-input .autocomplete,
tags-input .tags {
  border-radius: 0px;
  box-shadow: inset 0 0 0 transparent;
}

/* Buttons */
.btn {
  letter-spacing: 1px;
  text-decoration: none;
  background: none;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid;
  padding: 8px 20px;
}

.btn-outlined {
  border-radius: 0;
  transition: all 0.3s;
}

.btn-outlined.btn-theme {
  background: none;
  color: #6f5499;
  border-color: #6f5499;
}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active {
  color: #FFF;
  background: #6f5499;
  border-color: #6f5499;
}

.btn-outlined.btn-black {
  background: none;
  color: #000000;
  border-color: #000000;
}

.btn-outlined.btn-black:hover,
.btn-outlined.btn-black:active {
  color: #FFF;
  background: #000000;
  border-color: #000000;
}

.btn-outlined.btn-white {
  background: none;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-outlined.btn-white:hover,
.btn-outlined.btn-white:active {
  color: #6f5499;
  background: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-xs {
  font-size: 11px;
  line-height: 14px;
  border: 1px solid;
  padding: 5px 10px;
}

.btn-sm {
  font-size: 12px;
  line-height: 16px;
  border: 2px solid;
  padding: 8px 15px;
  border-radius: 0px;
}

.btn-lg {
  font-size: 18px;
  line-height: 22px;
  border: 1px solid;
  padding: 13px 40px;
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.angucomplete-dropdown {
  /*   margin-top: 35px;*/
}

.input-group-addon {
  border-radius: 0px;
}

.input-group-addon a {
  color: black;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0px;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  letter-spacing: .01em;
}

/* image upload styles */
.col-xs-3 img {
  object-fit: cover;
}

.profile-image img {
  object-fit: contain;
}

.modal-image img {
  object-fit: cover;
}

.app-modal-window .modal-dialog {
  width: 1200px;
  overflow: visible;
}

.app-modal-window .modal-content {
  height: 630px;
}

.ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 650px;
  /*    margin: 0 auto;*/
  /*    font-size: 26px;*/
  line-height: 1.4;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-shadow: inset 0 0 0 transparent;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*
.date:hover {
   opacity: .9;
   transition: opacity .5s;
}
*/
.modal-content {
  border-radius: 0px;
}

.about-text {
  line-height: 200%;
  font-size: 16px;
}

.popover {
  max-width: 500px;
}

.popover-image {
  margin: -11px 0px -12px -15px;
}

/* centered columns styles */
.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}
